name: CI - Unit Tests and Coding Standards

on:
  push:
  pull_request:

jobs:
  Tests:
    name: PHP ${{ matrix.php }} Tests and Coding Standards
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        php:
          - 8.1
          - 8.0
          - 7.4
    steps:
      - name: Check out Source Code
        uses: actions/checkout@v2

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug

      - name: Install Dependencies with Composer
        run: composer install

      - name: Verify Coding Standards
        run: vendor/bin/phpcs

      - name: Static Code Analysis
        run: vendor/bin/phpstan

      - name: Unit Tests
        run: vendor/bin/phpunit --testdox
